* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: "lato", sans-serif;
}


.section1 {
    background-image: linear-gradient(to right,#164da8, #2965c4);
}


header {
    display: flex;
    flex-direction: row;
    gap: 60rem;
    padding-top: 28px;
    padding-left: 41px;
}

header:nth-child(2) {
    display: flex;
    flex-direction: row;

}

header>img {
    width: 150px;
    height: auto;

}

header>div>button {
    padding: 10px 30px;
    background-color: transparent;
    border-color: white;
    border-width: 0.8px;
    border-radius: 20px;
    color: white;
    margin-right: 1.5rem;
}

header>div>img {
    width: 30px;
}

.section1_2 {
    padding-left: 80px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
}

.heading>h1 {
    color: white;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
}

.heading>p {
    color: white;
    font-size: 20px;
    padding-bottom: 30px;
}

#btn1 {
    padding: 15px 35px;
    border-radius: 20px;
    background-color: #f29400;
    color: white;
    border: none;
    margin-right: 20px;
}

#btn2 {
    padding: 15px 35px;
    border-radius: 20px;
    border: none;
    color: #13479c;
    background-color: white;
}

.section1_2_img{
    height: 25rem;
    width: 30rem;
    
}

.cont1{
    flex: 1;
}

.img1{
    flex: 1;
    margin-left: 25rem;
    margin-top: -7rem;
}

/* Section 2 */

.section2{
    height: 100vh;
}
.center-red {
    text-align: center;
    font-weight: 700;
    color: blue;
    margin-top: 5rem;
  }

.center-text {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

.section2_img1{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  
}

.des1{
    display: flex;
    flex-direction: row;
    gap: 9rem;
}

.des1_description{
    margin-left: 15rem;
}
.button-second
  {
    border-radius: 20px 20px;
    background-color: orange;
    color:white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    
  }

  .button-third
  {
    border-radius: 20px 20px;
    background-color: orange;
    color:white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
    
  }
  .des2{
    display: flex;
    flex-direction: row;
    gap: 12rem;
    margin-left: 20rem;
    margin-right: 10rem;
    margin-top: 3rem;
}